{{block "board" . }}
<div hx-swap-oob="innerHTML:#board">
  <div class="board">{{range .Board}}{{template "row" . }}{{- end -}}</div>
</div>
{{ end }} {{block "row" . }}
<div class="row">{{range .}}{{template "square" .}}{{- end -}}</div>
{{ end}} {{block "square" . }}
<div {{ if .Fill }} class="snek square" {{- end -}} class="square"></div>
{{ end}} {{block "header" . }}
<div hx-swap-oob="innerHTML:#body">
  <h1>{{.}}</h1>
  <a href="./lobby">start!</a>
</div>
{{ end}} {{block "score" . }}
<span hx-swap-oob="innerHTML:#score">{{.}}</span>
{{ end}} {{block "time" . }}
<span hx-swap-oob="innerHTML:#time">{{.}}</span>
{{ end}}
<!--  -->
{{- block "unit" . -}}
<div class="snek square {{.Color}}" id="block-x{{index .Position 0}}y{{index .Position 1}}" hx-swap-oob="outerHTML:#block-x{{index .Position 0}}y{{index .Position 1}}"></div>
{{- end -}}
<!--  -->
{{- block "snek" . -}} {{- range . -}}{{template "unit" . }}{{- end -}} {{- end -}}
<!--  -->
{{- block "empty" . -}}
<div class="square" id="block-x{{index .Position 0}}y{{index .Position 1}}" hx-swap-oob="outerHTML:#block-x{{index .Position 0}}y{{index .Position 1}}"></div>
{{- end -}}
<!--  -->
{{- block "apple" . -}}
<div class="square {{.Color}}" id="block-x{{index .Position 0}}y{{index .Position 1}}" hx-swap-oob="outerHTML:#block-x{{index .Position 0}}y{{index .Position 1}}"></div>
{{- end -}}
<!--  -->
{{- block "deleteSnek" . -}} {{- range .Body -}} {{template "empty" . }} {{- end -}} {{- end -}}
