{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snek Game</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/ws.js"></script>
  </head>

  <body id="body">
    <h1>{{.Text}}</h1>
    {{template "lobbyList" .Games }}
    <button hx-get="/create">Create Lobby!</button>
  </body>
</html>
{{end}}
